@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'KGCorneroftheSky';
    src: url('/fonts/KGCorneroftheSky.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}