@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'RobotoMono';
    src: url('/fonts/RobotoMono-VariableFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}